body{
  font-family: sans-serif;
}
.container{
  width: 800px;

  margin: auto;
}

.phoneImage{
  text-align: center;
  width: 440px;
  display: inline-block;
  border: 2px solid black;
}

.signUpForm{
  float: right;
  text-align: center;
  width: 346px;
  display: inline-block;
  
}
.phoneImage img {
  width: 400px;
  margin-top: 40px;
}

.imageHeader img{
  width: 250px;
}

.signUpText{
  width: 250px;
  color: #999;
  margin: auto;
  font-size: 18px;
  font-style: bold;
}
